#
# FILE: jvm.config
#
# DESC: This is the Trino Java JVM configuration script and should be
#       placed in /etc/trino/jvm.config
#

-server
#-Xms32G
#-Xmx32G
-Xms6G
-Xmx6G
-XX:InitialRAMPercentage=80
-XX:MaxRAMPercentage=80
-XX:G1HeapRegionSize=32M
-XX:+ExplicitGCInvokesConcurrent
-XX:+HeapDumpOnOutOfMemoryError
-XX:+ExitOnOutOfMemoryError
-XX:-OmitStackTraceInFastThrow
-XX:ReservedCodeCacheSize=256M
-XX:PerMethodRecompilationCutoff=10000
-XX:PerBytecodeRecompilationCutoff=10000
-Djdk.attach.allowAttachSelf=true
-Djdk.nio.maxCachedBufferSize=2000000

# Improve AES performance for S3, etc. on ARM64 (JDK-8271567)
-XX:+UnlockDiagnosticVMOptions
-XX:+UseAESCTRIntrinsics

# Setup Alluxio Edge integration
-Dalluxio.home=/opt/alluxio
-Dalluxio.conf.dir=/opt/alluxio/conf

# Setup Alluxio Edge cache metrics
-Dalluxio.metrics.conf.file=/opt/alluxio/conf/metrics.properties
-javaagent:/usr/lib/trino/lib/jmx_prometheus_javaagent-0.20.0.jar=9696:/etc/trino/jmx_export_config.yaml

# end of file
