#
# FILE jvm.config
#
# DESC: Trino JVM configuration script
#

-server
#-Xms32G
#-Xmx32G
-XX:InitialRAMPercentage=80
-XX:MaxRAMPercentage=80
-XX:G1HeapRegionSize=32M
-XX:+ExplicitGCInvokesConcurrent
-XX:+HeapDumpOnOutOfMemoryError
-XX:+ExitOnOutOfMemoryError
-XX:-OmitStackTraceInFastThrow
-XX:ReservedCodeCacheSize=256M
-XX:PerMethodRecompilationCutoff=10000
-XX:PerBytecodeRecompilationCutoff=10000
-Djdk.attach.allowAttachSelf=true
-Djdk.nio.maxCachedBufferSize=2000000

# Improve AES performance for S3, etc. on ARM64 (JDK-8271567)
-XX:+UnlockDiagnosticVMOptions
-XX:+UseAESCTRIntrinsics

# Setup Alluxio edge cache integration
#-Xbootclasspath/a:/home/trino/alluxio/conf
-Dalluxio.home=/home/trino/alluxio
-Dalluxio.conf.dir=/home/trino/alluxio/conf

# Setup Alluxio Edge cache metrics
-Dalluxio.metrics.conf.file=/home/trino/alluxio/conf/metrics.properties
-javaagent:/home/trino/alluxio/lib/jmx_prometheus_javaagent-0.20.0.jar=9696:/etc/trino/jmx_export_config.yaml

# end of file
